[Unit]
Description=VWAP Dynamic Fee Prover
After=syslog.target network.target

[Service]
Type=simple
Restart=always
RestartSec=10s
User=ubuntu
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
ExecStart=/home/ubuntu/go/bin/prover -port=33248

[Install]
WantedBy=multi-user.target