[Unit]
Description=VWAP Dynamic Fee Prover
After=network-online.target

[Service]
Environment=HOME=/home/ubuntu
ExecStart=/home/ubuntu/go/bin/prover -port=33248
Restart=always
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target